<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Meiter.Properties.Settings.ConnectionString" connectionString="DATA SOURCE=localhost:1521/xe;PASSWORD=joker0;PERSIST SECURITY INFO=True;USER ID=FIRAS"
            providerName="Oracle.ManagedDataAccess.Client" />
    </connectionStrings>
</configuration>